@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css?family=Righteous&display=swap'); */

@font-face{
  font-family: century1;
  src:url('../font/Century-Gothic_9791.eot');
  src:local(※), 
    url('../font/CenturyGothic.woff') format('woff');
  }

* { margin: 0; padding: 0; }
li { list-style: none; }
a { outline: 0; text-decoration: none;  }
img { border: 0; }
body * { box-sizing: border-box; }
html {width:100%;height:100%;}

body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  /*  width: 100%; */
}

#wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.vid {
  background-color: black;
  position: relative;
  height: 100%;
  width: 100%;
}
.vid video {
position: absolute;
width: 100%;
height: 100%;
  
left: 0;
top: 0;
}
.tete {
  font-family: century1;
  font-size: 32px;
  color: white;
  opacity: 0;
  position: absolute;
  z-index: 99999;
  top: 80%;
  left: 46.5%;
  animation: bing 2s; 
  animation-delay: 7s;
  animation-fill-mode: both;
}
.tete a {
  color: white;
}
@keyframes bing {
  0% {
    opacity: 0;
  }
  

  100% {
    opacity: 1;
  }
}